* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $marine;
  font-family: inherit;
}

img {
  max-width: 100%;
}
