$white: #ffffff;
$dark: #161932;
$softWhite: #eff1fa;
$lightGray: #e3e1e1;

$text: #d7e0ff;
$marine: #1e213f;
$darkblue: #161932;

$red: #f87070;
$magenta: #70f3f8;
$purple: #d881f8;

//Fonts
$kumbh: "Kumbh Sans", sans-serif;
$roboto: "Roboto Slab", serif;
$space: "Space Mono", monospace;

//CSS VARIABLES
:root {
  --color: #f87070;
  --font: "Kumbh Sans", sans-serif;
}
